@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div id="ducumentation">
        <h3>Information</h3>
        <p>
            Name: Anning Xiang <br />
            Student ID: 24681962 <br />
            Unit Provider: Monash University, The Caulfield School of Information Technology<br />
            Assignment Number: Assignment 3 <br />
            Date of Submission: 24/10/2014<br />
            Tutor: Chris Messom<br />
            Author E-mail: <a href="mailto:axia4@student.monash.edu">axia4@student.monash.edu</a><br />
            Assignment Specification:<a href="https://walkabout.infotech.monash.edu.au/walkabout/fit5032/assignments/assignment3.aspx">Assignment 2 Specification</a><br />
        </p>

        <h3>Image source</h3>
        <table class="documentationTable">
            <tr>
                <td>
                    <img  src="@Url.Content("~/Images/logo.png")" />
                </td>
                <td><p>From: LogoGarden <br/>
                    http://www.logogarden.com/diy.php </p></td>
            </tr>
            <tr>
                <td>
                    <img src="@Url.Content("~/Images/ad1.png")" width="120" height="100" style="padding-left: 20px"/>
                </td>
                <td>
                    <p>From: Cooper Piano <br/>
                        http://cooperpiano.web9.hubspot.com/piano-player-blog/?Tag=piano%20teacher </p>
                </td>
            </tr>
        </table>

        <h3>MVC Function</h3>
        <table class="documentationTable">
            <tr>
                <td><p>Form Validation--Data annotation</p></td>
                <td><p>Page: <br/> Create Student Content, Edit Student Details, Create Course, Edit Course</p></td>
            </tr>
        </table>

        <h3>Jquery</h3>
        <table class="documentationTable">
            <tr>
                <td><p>Datepicker</p></td>
                <td><p>Choosing the student birth date in "Create" and "Edit" Student Content page <br/>
                    When click the "DateOfBirth" cell, there is a celender to choose the particular date <br/>
                    Source: Visual Studio</p>
                </td>
            </tr>
            <tr>
                <td><p>Datatable</p></td>
                <td><p>
                        Function 1: Set the alternative table colours for each row <br />
                        Function 2: Search the details from the table<br/>
                        In student "Content" page and Course page<br/>                    
                        Source: <a href="http://www.datatables.net/">Datatables.net</a></p></td>
            </tr>
            <tr>
                <td><p>Validator</p></td>
                <td>
                    <p>
                        Provides the validation of each input and select form<br />
                        In student content "Create" and "Edit" page and Course "Create" and "Edit" page<br />
                        Source: Visual Studio
                    </p>
                </td>
            </tr>
        </table>

        </div>

