@{
    ViewBag.Title = "Home Page";
}

@{
    ViewBag.Message = "Welcome!";
}



<div id="introduction">
    <h2>Welcome to Monash Music Short-Course Agency</h2>
    <img src="@Url.Content("~/Images/ad1.png")" width="500" style="padding-left: 220px "/>
    
    <p>Monash Music Short-Course Agency (MMSCA) is a short courses agency for not only Monash students, but also people from outside of Monash University. We provide three music instruments courses: Piano, Voilin and Guitar. In addition, students can also apply for our "Foundation Songwriting", "DJ Training" and "Singing" courses.</p>

    <p>Students can choose the different levels of each instrument learning (beginner, intermediate and advanced). Each course takes 3 months. After students finishing their study, they can take two exams for obtain a certificate.</p>

    <p>We also hold a number of events (Parties, Campings and Competitions) that students can make friends in our big family. We have our official Symphony Orchestra and rock bands.</p>
</div>
